// nextflow.config
profiles {
  local {
    process.executor = 'local'
  }
  slurm {
    process.executor = 'slurm'
process.beforeScript = 'module load apptainer'
    executor {
      queueSize = 50
    }
    clusterOptions = '--partition=normal'
  }
}

process {
    withName: FASTQC {
            container = "/farmshare/user_data/lchan8/repos/BIOS270-AU25/Environment/containers/bioinformatics_khoang99.sif"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
   withName: TRIMGALORE {
            container = "/farmshare/user_data/lchan8/repos/BIOS270-AU25/Environment/containers/bioinformatics_khoang99.sif"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
    withName: SALMON {
            container = "/farmshare/user_data/lchan8/repos/BIOS270-AU25/Environment/containers/bioinformatics_khoang99.sif"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {12.GB * task.attempt}
            time = {3.h * task.attempt}
            maxRetries = 3
	}

    withName: DESEQ2 {
            container = "/farmshare/user_data/lchan8/repos/BIOS270-AU25/Environment/containers/bioinformatics_khoang99.sif"
            errorStrategy = {task.exitStatus in [137] ? "retry" : "finish"}
            cpus = 2
            memory = {4.GB * task.attempt}
            time = {2.h * task.attempt}
            maxRetries = 3
	}
}

apptainer {
	  enabled = true
	  autoMounts = true
    runOptions = "-B /farmshare/user_data/lchan8"
    cacheDir = '/farmshare/user_data/lchan8/repos/BIOS270-AU25/Pipeline/rnaseq_nf/envs/containers'
}

report {
    enabled = true
    file = 'report.html'
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}